/* Styles pour la page À propos */
.about {
    padding: 20px; /* Espace autour du contenu */
    max-width: 800px; /* Largeur maximale du contenu */
    margin: 0 auto; /* Centre le contenu horizontalement */
  }
  
  .about h1 {
    font-size: 28px; /* Taille du titre principal */
    margin-bottom: 20px; /* Espace sous le titre principal */
  }
  
  .about h2 {
    font-size: 22px; /* Taille des sous-titres */
    margin-top: 20px; /* Espace au-dessus des sous-titres */
    margin-bottom: 10px; /* Espace sous les sous-titres */
  }
  
  .about p {
    line-height: 1.6; /* Hauteur de ligne pour améliorer la lisibilité */
    margin-bottom: 15px; /* Espace sous chaque paragraphe */
  }
  