<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mon Blog d'Actualité</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <!-- En-tête -->
  <header>
    <div class="logo">MonBlog</div>
    <div class="hamburger-menu" id="hamburger-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav id="nav-menu">
      <ul>
        <li><a href="#">Accueil</a></li>
        <li class="dropdown">
          <a href="#">Catégories</a>
          <ul class="dropdown-content">
            <li><a href="#">Politique</a></li>
            <li><a href="#">Diplomatie</a></li>
            <li><a href="#">Santé</a></li>
            <li><a href="#">Sports</a></li>
          </ul>
        </li>
        <li><a href="#">À propos</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>
  <script src="../js/script.js"></script>
</body>
</html>
